<div id="Carousel1" class="most-viewed">
  <h1>Most Viewed</h1>
  <%if Latest.count >0 %>

  <div id="myCarousel1" class="carousel slide" data-ride="carousel" style="height: 380px;">
    <% @latests=Latest.one.latestproducts.order_by(:views => "desc").limit(3) %>

    <!-- Carousel indicators -->
    <% @count = 0 %>
    

    <% @count=0 %>
    <!-- Wrapper for carousel items -->
    <div class="carousel-inner">
      <% for latest in @latests %>

      <% if @count==0 %>

      <div class="item active">
      <%= link_to(image_tag(latest.image.url, :alt => "second Slide", :title => "Product",:width=>"300px",:height=>"300px"), '/products/'+latest.product_name) %>
        <div class="caption"> 
          <h3><%= link_to latest.product_name, '/products/'+latest.product_name,:class=>"textwhite" %></h3>
        </div>
      </div>

      <% else %>

      <div class="item">

        <%= link_to(image_tag(latest.image.url, :alt => "second Slide", :width => "300px", :height => "300px", :title => "Product"), '/products/'+latest.product_name) %>

        <div class="caption"> 
          <h3><%= link_to latest.product_name, '/products/'+latest.product_name, :class=>"textwhite" %></h3>
        </div>

      </div>

      <% end %>

      <% @count=@count+1 %>


      <% end %>

    </div>


    <!-- Carousel controls -->
    <a class="carousel-control left" href="#myCarousel1" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="carousel-control right" href="#myCarousel1" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>

</div>
<% end %>
