<html>
<head>
  <title>Rate-It</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
</head>
<body data-spy="scroll" data-target="#myScrollspy" data-offset="20" data-no-turbolink="true">

  <div class="col-md-10">
    <!--Body content-->
    
    <div class="row">
      <div class="col-md-6 no-pad margin">
         <a href="subcategories/Laptops"><img class="img-responsive" src="/assets/laptops.jpg", width="100%", height="100%"></a>
      </div>

      <div class="col-md-3 no-pad">
         <a href="subcategories/Cameras"><img class="img-responsive" src="/assets/cameras.jpg", width="100%", height="100%"></a>
     </div>

     <div class="col-md-3 no-pad">
         <a href="subcategories/Mobiles"><img class="img-responsive" src="/assets/mobiles.jpg", width="100%", height="100%"></a>
     </div>
     <div class="col-md-3 no-pad">
         <a data-toggle = "modal", data-target="#infos_category_Books", href="#infos_category_Books"><img class="img-responsive" src="/assets/books.jpg", width="100%", height="100%"></a>
     </div>
     <div class="col-md-3 no-pad">
         <a href="subcategories/Hindi_movies"><img class="img-responsive" src="/assets/movies.jpg", width="100%", height="100%"></a>
     </div>
   </div>    

   <%= render '/shared/carousel1' %>

   <%= render '/shared/carousel2' %> 

   <%= render '/shared/carousel3' %>

 </div>


</div>
</div>  
</body>
</html>