<!DOCTYPE html>
<html>
<body>
	<div class="col-md-10">
		<div class="row" align="center">
			<div class="col-md-10">
				<h1 align="center">Our Team</h1>
			</div>
		</div>

		<br>
		<br>

		<div class="row">
			<div class="col-md-5" align="center">
				<h1>Suraj</h1>
				<h5>Back-End Developer</h5>
			</div>

			<div class="col-md-5" align="center">
				<h1 align="center">Shriya</h1>
				<h5>Front-End Developer</h5>
			</div>
		</div>

		<br>

		<div class="row">
			<div class="col-md-5" align="center">
				<h1>Sourabh</h1>
				<h5>Back-End Developer</h5>
			</div>

			<div class="col-md-5" align="center">
				<h1>Pranav</h1>
				<h5>Front-End Developer</h5>
			</div>
		</div>
	</div>
</body>
</html>