<h1>add subcategory</h1>

<%= simple_form_for [@category, Subcategory.new], html: { class: 'form-horizontal' } , wrapper: :horizontal_form do |f| %>

<p> <%= f.input :subcategory_name %> </p>

<p> <%= f.button :submit, :class => "btn-primary" %>
<% end %>