<h1>Enter new category information</h1>

<%= simple_form_for(@category,html: { class: 'form-horizontal' }) do |f| %>

<p>
Category Name<%= f.text_field :category_name %><br/>
</p>
<br>

<p>
<%= f.submit "Submit" %>
</p>

<% end %>