<div class="row">
	<div class="col-md-10">

		<h1>Enter new category information</h1>

		<%= simple_form_for(@category,html: { class: 'form-horizontal' }) do |f| %>

		<%= f.input :category_name %><br/>
		<%= f.button :submit , :class => "btn-primary"%>


		<% end %>
	</div>
</div>